@import '../../assets/styles/variables.scss';

.slick-dots {
 position: absolute !important;
 right: 0 !important;
 bottom: 0 !important;
 width: 70% !important;
 height: 100px;
 background-color: $white-color;

 &:before {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  height: 100px;
  background-color: $white-color;
  content: '';
 }
}

.slick-dots ul > li {
 width: auto;
 color: red;
}
